/*----------------
    RESET
-----------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*----------------
    TYPOGRAPHY
-----------------*/
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 80px;
}
/*----------------
    COMMON
-----------------*/
body {
    background-color: #083b4c;
}
.container {
    max-width: 75rem;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.scoreboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.scoreboard__item {
    height: 9rem;
    width: 9rem;
    /* background-color: #fff; */
    font-size: 1.5rem;
    text-align: center;
    line-height: 9rem;
    margin: .625rem;
}
/*----------------
    COLORS
-----------------*/
.text-white {
    color: #fff;
}
.number-bg-color {
    background-color: #1389b2;
}
.fizz-bg-color {
    background-color: #0cd6a1;
}
.buzz-bg-color {
    background-color: #ffd166;
}
.fizzbuzz-bg-color {
    background-color: #f0466f;
}
/*----------------
    HEADER
-----------------*/
header {
    padding: 1.875rem 0;
}